.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;
}

.form__label {
  color: $text-color;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.form__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border $transition-timing $timing-function;

  &:focus {
    border: 1px solid $hover-accent-color;
    outline: transparent;
  }

  &--change-size {
    resize: none;
    height: 120px;
    padding: 12px 16px;
  }

  &--placeholder::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;

  font: inherit;
  transform: translateY(-50%);
  transition: fill $transition-timing $timing-function;

  .form__input:focus + & {
    fill: $hover-accent-color;
  }
}

// CONSENT

.consent {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  color: $text-color;
  cursor: pointer;

  margin-top: 20px;
  margin-bottom: 30px;
}

.consent__checkbox {
  appearance: none;
  position: absolute;
}

.consent__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  margin-right: 8px;

  border-radius: 2px;
  border: 2px solid $title-color;
  transition: border $transition-timing $timing-function,
    background-color $transition-timing $timing-function;

  &--check {
    display: block;
    width: 15px;
    height: 15px;
  }

  .consent__checkbox:checked + & {
    background-color: $hover-accent-color;
    border: 2px solid $hover-accent-color;
  }
}

.consent__link {
  color: $hover-accent-color;
}

.submit-btn {
  @extend %button;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    background-color: $hover-second-color;
    color: $primary-white-color;
  }
}
