.team {
  background-color: $background-second-color;
}

.team__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team__item {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: $card-set-gap;
  }
}

// EMPLOYEE

.employee {
  text-align: center;
  padding: 30px 0;
}

.employee__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}

.employee__position {
  color: $text-color;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

// NETWORKS

.networks {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.networks__icon {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.networks__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  fill: $icons-color;
  transition: background-color $transition-timing $timing-function,
    fill $transition-timing $timing-function;

  &:hover,
  &:focus {
    background-color: $hover-accent-color;
    fill: $primary-white-color;
  }

  //   NETWORKS FOOTER

  &--change-color {
    fill: $primary-white-color;
    background: rgba(255, 255, 255, 0.1);
  }
}
