$primary-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$title-color: #212121;
$text-color: #757575;
$hover-accent-color: #2196f3;
$hover-second-color: #188ce8;
$primary-white-color: #ffffff;
$background-second-color: #f5f4fa;
$hero-footer-bgc: #2f303a;
$icons-color: #afb1b8;
$card-set-gap: 30px;
$transition-timing: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
